<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>doraemon-pro</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
</head>

<body>
  <canvas  class='body-canvas' style="display:none;" >
    Your browser does not support the HTML5 canvas tag.
  </canvas>
  <div id="root"></div>
  <script src="https://cdn.bootcss.com/d3/4.13.0/d3.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/lodash.js/3.5.0/lodash.min.js"></script>
</body>

</html>
